.banner-principal-decorativo
  &-1
    animation: float 3.5s ease-in-out infinite alternate
    position: absolute
    top: 5%
    left: -3%
  &-2
    animation: floatleft 3.5s ease-in-out infinite alternate
    position: absolute
    top: 12%
    right: 12%

@keyframes float
  0%
    transform: translateX(30px)
  100%
    transform: translateX(-50px)

@keyframes floatleft
  0%
    transform: translateX(0px)
  100%
    transform: translateX(10px)
  
.banner-principal .tarjeta
  background-position: left 50% !important
  @media screen and (max-width: 1200px)
    background-image: url("../assets/curso/portada/fondo-banner-principal1.png") !important
  @media screen and (max-width: 768px)
    background-image: url("../assets/curso/portada/fondo-banner-principal2.png") !important

.banner-interno__fondo
  background-image: url("../assets/curso/portada/fondo-banner-principal3.png") !important

.banner-principal__row .banner-principal__img
  width: 450px !important

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: black !important

.banner-interno__titulo__icono i
  color: $color-sistema-texto

.banner-principal__descripcion
  padding: 0rem 4rem 0rem 0rem
  @media screen and (min-width: 1400px)
    padding: 0rem !important
  @media screen and (max-width: 768px)
    padding: 0rem !important

.banner-principal__info
  @media screen and (max-width: 576px)
    padding: 9rem 2.4rem 9rem 1.5rem !important

figcaption
  font-weight: normal




/// AJUSTE ESPACIO RESPOSINVE
/// TITULOS TERCER NIVEL
/// FONDOS
/// INTRO
/// TEMA 
/// BLOQUE  -----------------------